////// Background Image and Base Pad //////
body {
    background-image: url(../resource/background2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pad {
    padding-left: 10%;
    padding-right: 10%;   
}


////// Top Div of Roster Area //////
.interactive {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 550px;
    width: 100%;
    margin: 0;
}
.cardXI {
    background-color: black;
    color: white;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    
    border: 2px solid red;
}
.userInputs {
    display: flex;
    flex-direction: row;
    color: white;
}
h2 {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 20px;
    width: auto;
    height: 30px;
    margin: 0;
}
.reserves {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    //overflow: scroll;
    background-color: black;
    //opacity: 0.75;
    color: white;
}
////// Hover State for Droppables //////
.drop-hover {
    background-color: darkgreen;
}

ul {
    list-style-type: none;
    border: 1px solid purple;
    text-align: center;
}
.footballer {
    display: flex;
    flex-basis: row;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 35px;
    background-color: black;
    color: white;
    border: 1px solid darkgray;
    border-radius: 20px;
    margin: 10px;
}
.slot {
    height: 40px;
    width: 100%;
    margin: 0;
    color: white;
    border: 1px solid white;
    
}
.name, .number, .position {
    margin: 5px;
}


////// Bottom Pitch Graphic //////
.pitch {
    background-image: url('../resource/pitch_360.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    opacity: 0.95;
    height: 100%;
    width: 40%;
    
    border: 2px solid blue;
}

