//scss
/*
#bg {
    position: fixed;
    top: -50%;
    left: -50%; 
    width: 200%; 
    height: 200%;
}
#bg img {
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    z-index: -1;
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
}
*/
body {
    background-image: url(../resource/background2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.pad {
    padding-left: 10%;
    padding-right: 10%;   
}
.interactive {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 550px;
    width: 100%;
    margin: 0;
}
ul {
    list-style-type: none;
    border: 1px solid purple;
    text-align: center;
}
.drop-hover {
    background-color: darkgreen;
}
.cardXI {
    background-color: black;
    color: white;
    text-align: center;
    height: 100%;
    width: 60%;
    margin: 0;
    
    border: 2px solid red;
}
.pitch {
    background-image: url('../resource/pitch_360.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    opacity: 0.95;
    height: 100%;
    width: 40%;
    
    border: 2px solid blue;
}
.slot {
    height: 40px;
    width: 100%;
    margin: 0;
    color: white;
    border: 1px solid white;
    
}
.reserves {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    //overflow: scroll;
    background-color: black;
    //opacity: 0.75;
    color: white;
}
.footballer {
    display: flex;
    flex-basis: row;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 35px;
    background-color: black;
    color: white;
    border: 1px solid darkgray;
    border-radius: 20px;
    margin: 10px;
}
.name, .number, .position {
    margin: 5px;
}
h2 {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 20px;
    width: 100%;
    height: 30px;
    margin: 0;
}