////// Background Image and Base Pad //////
body {
    background-image: url(../resource/background2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}
.basePad {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}
ul {
    list-style-type: none;
    padding: 0;
}
h2 {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 30px;
    height: 50px;
    margin: 0;
}

////// Parent Container of Interactive Section //////
.container {
    background-color: black;
    opacity: 0.7;
    display: flex;
    flex-direction: row;
    height: 550px;
    width: 100%;
    margin: 0;
}

////// Left-Hand Section -- Red Outline //////
.leftPayne {
    background-color: black;
    color: white;
    text-align: center;
    height: 100%;
    width: 25%;
    margin: 0;
    
    border: 2px solid red;
}
.gamePosition {
    display: flex;
    flex-direction: column;
    //width: 300px;
    margin: 0;
    padding: 0;
    
    //border: 1px solid purple;
}
.slot {
    text-align: center;
    color: white;
    height: 40px;
    //width: 300px;
    margin: 0;
    
    border: 1px solid green;
}

/////// Right-Hand Section -- Cyan Outline //////
.rightPayne {
    display: flex;
    flex-direction: column;
    width: 75%;
    
    border: 1px solid cyan;
}
.inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

////// Rules on JS Template Created Elements //////
.reserves {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //overflow: scroll;
    background-color: black;
    color: white;
}
.footballer {
    display: flex;
    flex-basis: row;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 35px;
    background-color: black;
    color: white;
    border: 1px solid darkgray;
    border-radius: 20px;
    margin: 5px;
}
.name, .number, .position {
    margin: 5px;
}

////// Bottom Pitch Graphic //////
.pitch {
    background-image: url('../resource/pitch_360.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    opacity: 0.95;
    height: 100%;
    width: 500px;
    
    border: 1px solid blue;
}

////// Hover State Rule for Droppables JS //////
.drop-hover {
    background-color: darkgreen;
}