<!doctype html>
<html>

<head>
    <title>Drag n Drop Game Card</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="js/app.js"></script>
    
    <script type="text/template" id="tempRoster">
            <div class="number"><%= '#'+player.number %></div>  
            <div class="name"><%= player.name %></div> 
            <div class="position"><%= player.position %></div>
    </script>   
</head>

<body>
    <div class="basePad">
        <div class="container">
            <section class="leftPayne">
                <h2>Starting XI</h2>
                <ul class="gamePosition">
                    <li class="slot" id="one">G</li>
                    <li class="slot" id="two">RB</li>
                    <li class="slot" id="three">CRB</li>
                    <li class="slot" id="four">CLB</li>
                    <li class="slot" id="five">LB</li>
                    <li class="slot" id="six">RM</li>
                    <li class="slot" id="seven">CRM</li>
                    <li class="slot" id="eight">CLM</li>
                    <li class="slot" id="nine">LM</li>
                    <li class="slot" id="ten">RS</li>
                    <li class="slot" id="eleven">LS</li>
                </ul>
            </section>
            <section class="rightPayne">
                <div class="inputs">
                    <h2>Reserves</h2>
                    <input type="text" id="search-box" placeholder="Player name">
                    
                    <label for="goalies">Goalies</label>
                    <input type="radio" id="goalies" name="position">
                    <label for="defenders">Defenders</label>
                    <input type="radio" id="defenders" name="position">
                    <label for="midfielders">Midfielders</label>
                    <input type="radio" id="midfielders" name="position">
                    <label for="forwards">Forwards</label>
                    <input type="radio" id="forwards" name="position">
                </div>                
                <section class="reserves" id="reserves">
<!---- This is where Template Items Go -->
                </section>
            </section>
        </div>
        <div class="pitch">
            <h2>Pitch Graphic</h2>
            <ul id="forward">Forward</ul>
            <ul id="midfield">Midfield</ul>
            <ul id="defense">Defense</ul>
            <ul id="goal">Goal</ul>
        </div>
    </div>
</body>

</html>