<!doctype html>
<html>
    

<head>
    <title>Drag n Drop Game Card</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
    <script src="js/app.js"></script>
    
    
    <script type="text/template" id="tempRoster">
            <div class="number"><%= '#'+ player.number %></div>  
            <div class="name"><%= player.name %></div> 
            <div class="position"><%= player.position %></div>
    </script>   
</head>

<body>
    <div class="basePad">
        <div class="container">
            <section class="leftPayne">
                <h2>Starting XI</h2>
                <ul class="gamePosition">
                    <li class="slot" id="one">G</li>
                    <li class="slot" id="two">RB</li>
                    <li class="slot" id="three">CRB</li>
                    <li class="slot" id="four">CLB</li>
                    <li class="slot" id="five">LB</li>
                    <li class="slot" id="six">RM</li>
                    <li class="slot" id="seven">CRM</li>
                    <li class="slot" id="eight">CLM</li>
                    <li class="slot" id="nine">LM</li>
                    <li class="slot" id="ten">RS</li>
                    <li class="slot" id="eleven">LS</li>
                </ul>
            </section>
            <section class="rightPayne">
                <div class="inputs">
                    <h2 class="title">Reserves</h2>
<!---- Filter Input Field Here>
                    <input type="text" id="search-box" placeholder="Player name">
<!---- Position Buttons Begin Here -->
                    <div class="buttons">
                        <label for="goalies">Highlight Positions:</label>
                    
                        <button type="button" id="goalies" name="position">Goalies</button>
                    
                        <button type="button" id="defenders" name="position">Defenders</button>
                    
                        <button type="button" id="midfielders" name="position">Midfielders</button>
                    
                        <button type="button" id="forwards" name="position">Forwards</button>
                    
                        <button type="button" id="all" name="position">Clear</button>
                        
                        <a href="form.html">Create New</a>
                    </div>
                </div>                
                <section class="reserves" id="reserves">
<!---- This is where Template Items Go -->
                </section>
            </section>
        </div>
        <div class="pitch">
<!----         <h2>Pitch Graphic</h2> -->
            <ul class="positions" id="line1"></ul>
            <ul class="positions" id="line2"></ul>
            <ul class="positions" id="line3"></ul>
            <ul class="positions" id="line4"></ul>
        </div>
    </div>
</body>

</html>